@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  :root {
    @apply font-mono bg-darkGray text-lightGray;
  }
}

.glowText {
  text-shadow: 0 0 10px;
}

.glowBox {
  box-shadow: 0 0 10px #00adb5;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #222831;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00adb5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eeeeee;
}
